/* width */

::-webkit-scrollbar {
  width: 8px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #202020;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #353535;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #454545;
}

