#snackbar-wrapper {
  position: fixed;
  z-index: 500;
  bottom: 15px;
  left: 265px;
  right: 15px;
}

@media (max-width: 767px) {
  #snackbar-wrapper {
    left: 15px;
  }
}

#snackbar {
  opacity: 0;
  padding: 12px;
  background: #2b2b28;
  border-radius: 10px;
  box-shadow: 1px 1px 2px #000000;
  text-align: center;
  transform: translateY(30px);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#snackbar.show {
  opacity: 1;
  transform: none;
}

#snackbar span {
  margin-right: 10px;
  font-size: 18px;
  color: #f77f00;
  margin-left: 10px;
  margin-top: 4px;
  margin-bottom: 4px;
}

#snackbar button {
  font-size: 16px;
  background: #bc6d0a;
  color: #f4dbaa;
  margin-right: 5px;
  margin-left: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 8px;
  padding-left: 8px;
  border-style: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#snackbar button:hover {
  text-shadow: 0px 0px 8px;
}

